.inp {
    border: 1px solid var(--dark-grey);
    width: 100%;
    padding: 15px;
    outline: none;
    transition: .3s ease;
}
.inp:hover, .inp:focus {
    border-color: var(--focus-inp-border-color);
}
.tooltipWrapper, .btn {
    top: calc(50% + 2px);
    transform: translateY(-50%);
    right: 15px;
    color: var(--text-color-primary);
}
.btn.btnError {
    color: var(--error-color);
}
.inp.error {
    border-color: var(--error-color);
}
.labelContainer {
    margin-bottom: 8px;
}