.modalBackdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
.modalContent {
    background: var(--text-color-primary);
    border-radius: 8px;
    padding: 50px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    line-height: 24px;
}
.modalCloseButton {
    top: 10px;
    right: 10px;
    transition: .3s ease;
}

.modalCloseButton:hover {
    opacity: .7;
}

@media screen and (max-width: 650px) {
    .modalContent {
        padding: 50px 20px;
    }
}