@import "../styles/variables.css";
@import "../styles/theme.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-size: var(--fz-s);
}
.container {
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}
input, button {
  color: inherit;
}
input, button {
  font-size: inherit;
  border-radius: 12px;
  border: none;
}
.cursor-pointer {
  cursor: pointer;
}
button {
  cursor: pointer;
  font-weight: inherit;
  background-color: transparent;
}
p {
  font-weight: 400;
}
.link {
  color: var(--text-color-link);
  position: relative;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--text-color-link);
  transition: width 0.3s ease;
}

.link:hover {
  opacity: 0.7;
}

.link:hover::before {
  width: 100%;
}
h1 {
  font-weight: 600;
}

.link {
  text-decoration: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fz-l {
  font-size: var(--fz-l);
}
.fz-xs {
  font-size: var(--fz-xs);
}

.flex-container {
  display: flex;
}
.jc-center {
  justify-content: center;
}